@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-light);
}

:root {
  --primary: #13a4ec;
  --bg-light: #f6f7f8;
  --bg-dark: #101c22;
  --text-light: #1e293b;
  --text-dark: #e2e8f0;
}

.material-symbols-outlined {
  font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;
}
